<!--design fro zero-->
{% extends 'custom_base.html' %}
{% load staticfiles %}
{% block content %}

<header class="intro-header" style="background-image: url({% static 'img/home-bg.jpg' %})">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>全职法师</h1>
                    <hr class="small">
                    <span class="subheading">The effort deserves to be rewarded</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">


            {% for article in article_list %}

            <div class="post-preview">
                <a href="{% url 'spiderdetail' article.pk %}">
                    <h2 class="post-title">
                        {{ article.name}}
                    </h2>
                </a>

                <!--<p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>-->
                <p class="post-meta">Posted on {{ article.created_time }}</p>

            </div>
            <hr>

            {% endfor %}

            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>


{% endblock %}